*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F8F9FE;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    font-size: 62.5%;
    margin: 2rem ;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.title{
    font-size: 2rem;
    line-height: 2.5rem;
    padding-left: 1rem;
    /* border: 1px solid; */
}
.total-follower{
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.body-div{
    width: 55rem;
    /* background-color: indianred; */
}
.socials{
    width: 100%;
    
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

}
.main-social{
    width: 12rem;
    /* height: 10rem */
    background-color: #F0F3FA;
    position: relative;
    border-radius: 0.3rem;
    overflow: hidden;
    filter: drop-shadow(3px 3px 3px lightgray);
}
.main-social::after{
    content: "";
    width: 100%;
    height: 0.3rem;
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    position: absolute;
    top: 0;
}
.main-social .social-handle-div{
    display: flex;
    /* background-color: rgb(62, 69, 191); */
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;
}
 .social-img{
    width: 2rem;
    height: 2rem;
}
.social-handle-div .social-handle{
    font-weight:  500;
    font-size: 0.8rem;
    position: relative;
    top: 0.8rem;
    color: #171A1F;
    /* letter-spacing: 0.1rem; */
}
.social-follow-div{
    /* background-color: blueviolet; */
    text-align: center;
    color: #171A1F;
    padding: 0.8rem 0;
}
.social-follow-div .follow-count{
    font-size: 2.5rem;
}
.social-follow-div .follower-txt{
    letter-spacing: 0.2rem;
}
.arr-div{
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    gap: 0.2rem;
    padding: 0.8rem 0;
    /* border: 1px solid #2f2; */
}
 .arr-img{
    width: 0.8rem;
    height: 0.8rem;

}
 .small-txt{
    font-weight: bold;
    font-size: 0.8rem;
    color: #00FF00 ;
}
 .arr-txt-red{
    font-weight: bold;
    font-size: 0.8rem;
    color:  #FF0000 ;
}

/* =======Overview====== */
.overview-txt{
    /* border: 1px solid; */
    padding-left: 1rem;
    margin: 2rem 0;
}
.overview{
    width: 55rem;
    /* height: 15rem; */
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    row-gap: 1.6rem;
}
.overview-div{
    /* display: flex; */
    background-color: #F0F3FA;
    width: 12rem;
    padding: 1rem;
    border-radius: 0.3rem;
    color: #171A1F;
    filter: drop-shadow(3px 3px 3px lightgray);

}
.pageview-img{
    display: flex;
    justify-content: space-between;
    /* background-color: #00FF00; */
    width:100%;

}
.pageview-img p{
    font-size: 0.8rem;
    font-weight: bold;
}
.pageview-img img{
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    top: -0.5rem;
}
.overview-stat{
    display: flex;
    justify-content: space-between;
    /* background-color: #ffbf; */
    width:100%;
    padding: 1rem 0;
}
.page-stat{
    font-size: 1.5rem;
    font-weight: bold;
}
.arr-ud{
    display: flex;
    gap: 0.3rem;
    align-items: end;
}
.arr-ud img{
    width: 0.8rem;
    height: 0.8rem;
}
.arr-ud p{
    font-weight: bold;
}
